/* Font link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-poppiens: "Poppins", sans-serif;

  --color-red: #ff004f;
  --color-black: #080808;
  --color-white: #f7f7f7;
  --color-dark: #111;

  --animate-spin: spin 10s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@layer components {
  .underlineEffect {
    @apply after:content-[''] after:h-[2px] after:bg-red after:block after:mx-auto after:w-0 hover:after:w-full after:transition-all after:duration-400;
  }
  .overlay {
    @apply fixed inset-0 bg-black/90 z-40 w-full h-full;
  }
}